*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
}

body{
    height:100%;
    background-image: linear-gradient(#58B8FF, #60BEFF, #60BEFF, #86CDFF, #9ED7FF, #B2DFFF, #C3E6FF, #CAE9FF, #D2EDFF, #FFFFFF);
}

html{
    scroll-behavior: smooth;
}
/* ESTILIZAÇÂO DO HEADER */

#header{
    display: flex;
    padding:1% 5% 0 5%;
    width: 100%;
    height: 95vh;
    background-image: url(../assets/paginaContato/Travessia-Petropolis-Teresopolis-1200x630.jpg.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header-logo{
    height: 90px;
}

.mobileheader-logo{
    display: none;
}

.mobile-logo-escrita{
    display: none;
}

.fixed-top{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    padding:1% 5% 1% 5%;
    background-image: linear-gradient(rgb(0, 153, 255),rgba(255, 255, 255, 0));
}

.navbar-botoes{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50%;
    padding: 0;
    margin: 0;
    width: 10%;
}

.navbar-botoes li{
    margin: 0;
}

.dropdown{
    display: none;
}

@media screen and (max-width: 1150px) {
    .dropdown{
        display: block;
    }

    .dropdown{
        display: block;
    }

    .dropdown .btn{
        font-size: 12px;
    }

    .dropdown .dropdown-item {
        font-size: 12px;
    }

    .dropdown .dropdown-menu{
        background-color: #5578a3;
    }

    .navbar-botoes{
        display: none;
    }

    .contato-links{
        opacity: 1;
    }
}

.fixed-top a{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 0 4px black;
}

/* ESTILIZAÇÂO DO HEADER */

/* ESTILIZAÇÂO CONTATOS */

section {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato p {
    font-size: 24px;
    color: white;
    font-weight: 600;
    text-shadow: 0 0 10px black;
}

.contato-links {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.583);
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;
    transition-duration: 0.1s;
    box-shadow: 0 0 10px black;;
}


.contato-foto {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.contato-links:hover  {
    opacity: 1;
}

section div svg {
    height: 48px;
    width: 48px;
}


/* ESTILIZAÇÂO CONTATOS */




/* RODAPÉ */

.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-image: linear-gradient(#FFFFFF, #9DD7FF, #7DADD6, #5578A3, #314875, #253765, #172654, #030A39);
    width: 100%;
}

.rodape img{
    width: 100%;
    height: 100%;
}

.rodape ul{
    display: flex;
    color: white;
    list-style-type: none;
    margin-right: 5%;
    text-shadow: 0 0 5px black;
}

.footer-logo{
    height: 90px;
}

.footer-criadores{
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.criadores{
    margin: 0;
}

.criadores a{
    color: white;
    text-decoration: none;
}

.criadores a:hover{
    color: rgb(192, 192, 192);
}

.mobile-rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
}

.footer-nav{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.footer-opensource{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-rodape p{
    margin: 0;
}

/* RODAPÉ */

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) and (max-width: 1085px) {
    section {
        top: 30%;
        width: 50%;
    }
}

@media only screen and (max-width: 768px){

    /* HEADER MEDIA QUERIES */

    #header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fixed-top{
        height: 10%;
        justify-content: space-between;
    }

    .header-logo{
        display: none;
    }

    .mobileheader-logo{
        display: block;
        width: 60px;
    }

    .dropdown{
        display: block;
    }

    .dropdown .btn{
        font-size: 12px;
    }

    .dropdown .dropdown-item {
        font-size: 12px;
    }

    .dropdown .dropdown-menu{
        background-color: #5578a3;
    }

    .navbar-botoes{
        display: none;
    }

    /* HEADER MEDIA QUERIES */

    /* CONTATOS */
    section {
        top: 35%;
        width: 80%;
        height: 40%;
    }

    .contato-links{
        opacity: 1;
    }

    .contato-links:hover{
        opacity: 1;
    }

    /* CONTATOS */

    /* RODAPÉ MEDIA QUERIES */

    .rodape{
        display: none;
    }

    .criadores a{
        font-size: 5px;
    }

    .mobile-rodape{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 150px;
    }

    .footer-criadores{
        font-size: 12px;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-nav{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    .footer-opensource{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

    @media only screen and (max-width: 560px){
        section {
            top: 35%;
            width: 80%;
            height: 40%;
        }
    
        .contato p {
            font-size: 16px;
        }
    
        .contato-links {
            width: 120px;
            height: 120px;
        }
    
    
        .contato-foto {
            width: 120px;
            height: 120px;
        }
    
        section div svg {
            height: 30px;
            width: 40px;
        }
    }

    @media only screen and (max-width: 320px){
        section {
            top: 30%;
        }
    }
    /* RODAPÉ MEDIA QUERIES */